*~
devtools32-*.tar.gz*
archbuild
archco
archrelease
bash_completion
checkpkg
commitpkg
finddeps
lddd
makechrootpkg
makerepropkg
mkarchroot
offload-build
rebuildpkgs
zsh_completion
find-libdeps
crossrepomove
arch-nspawn
sogrep
doc/*.1
pacman-*-i486.conf
pacman-*-i686.conf
pacman-*-pentium4.conf
makepkg-i486.conf
makepkg-i686.conf
makepkg-pentium4.conf
